# Claude
.claude

# IDE
.idea/
.vscode/

# ENV
.env

# Node
node_modules/

# Playwright artifacts
apps/ui-tests/traces/*
!apps/ui-tests/traces/.gitkeep
apps/ui-tests/fixtures/cookieState.json
apps/ui-tests/reports/*
!apps/ui-tests/reports/.gitkeep

# Newman reports
apps/api-tests/reports/*
!apps/api-tests/reports/.gitkeep