{
  "name": "prod",
  "values": [
    { "key": "base_url", "value": "YOUR_BASE_URL", "enabled": true },
    { "key": "email", "value": "YOUR_EMAIL", "enabled": true },
    { "key": "emailPassword", "value": "YOUR_PASSWORD", "enabled": true },
    { "key": "name", "value": "TestName", "enabled": true },
    { "key": "title", "value": "Mr.", "enabled": true },
    { "key": "birth_date", "value": "30", "enabled": true },
    { "key": "birth_month", "value": "4", "enabled": true },
    { "key": "birth_year", "value": "2000", "enabled": true },
    { "key": "first_name", "value": "TestFirstName", "enabled": true },
    { "key": "last_name", "value": "TestLastName", "enabled": true },
    { "key": "company", "value": "Test Corp", "enabled": true },
    { "key": "address1", "value": "123 Test St", "enabled": true },
    { "key": "address2", "value": "321 Test St", "enabled": true },
    { "key": "country", "value": "Test Country", "enabled": true },
    { "key": "zipcode", "value": "12345", "enabled": true },
    { "key": "state", "value": "Test State", "enabled": true },
    { "key": "city", "value": "Test City", "enabled": true },
    { "key": "mobile_number", "value": "+15555555555", "enabled": true }
  ]
}
